.presentation-alt-section {
  background: var(--main);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;


}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -2em;
}

.logo img {
  max-width: 100%;
  max-height: 80vh;
  /* animation: rotate 10s alternate infinite ease-in-out; */
}

.presentation-alt-section .title {

  color: white;
  z-index: 2;
  position: absolute;
  font-weight: lighter;
  left: 50%;
  top: 55%;
  font-size: 10em;
  transform: translate(-50%, -75%);
}

.presentation-alt-section .separator {
  width: 50%;
  height: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: center;
  position: absolute;
  top: 70%;
  left: 25%;
  z-index: 2;
  color: var(--secondary);
  background: var(--secondary);
}

.presentation-alt-section .subtitle {
  color: var;
  z-index: 2;
  position: absolute;
  font-size: 3rem;
  font-weight: lighter;
  left: 50%;
  top: 80%;

  transform: translate(-50%, -75%);
}

@media only screen and (max-width: 430px) {

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin: auto;
  }


  .presentation-alt-section .text {
    display: flex;
    flex-direction: column;
  }

  .presentation-alt-section .text .title {
    position: none;
    top: 50%;
    left: 50%;
  }
  
  .presentation-alt-section  .text .separator {
    display: none;

  }
  
  .presentation-alt-section  .text .subtitle {
    font-size: 2em;
    position: none;
    left: 50%;
  }
}
