.services-page-section .container{

}
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    margin: var(--sections-m);
    gap: 5em 2em;
}

.grid-container .item {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    align-items: center;
    margin: auto;
    max-width: 500px;
    width: 500px;
    max-height: 700px;
    height: 600px;
}

.grid-container .item:hover {
    background-color: var(--main);
    color: var(--light);
    transition: .2s ease-in;
    cursor: pointer;

}

.services-page-section .grid-container .item .title {
    
}  

.grid-container .item img {
    max-width: 300px;
}  