<<<<<<< HEAD
.presentation-section {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10em;}

.presentation-section img {
  max-width: 500px;

}

.presentation-section .separator {
  width: 50%;
  height: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: center;

  z-index: 2;
  color: var(--secondary);
  background: var(--secondary);
}

.presentation-section .subtitle {
  color: var(--main);
  z-index: 2;
  font-size: 3rem;
  font-weight: lighter;


}
=======
.presentation-section {
  background-color: var(--main);
  width: 100%;
}
.presentation-section .title {
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 3rem;
  font-weight: lighter;
  left: 50%;
  top: 55%;
  font-size: 10em;
  transform: translate(-50%, -75%);
}

.presentation-section .separator {
  width: 50%;
  height: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: center;
  position: absolute;
  top: 70%;
  left: 25%;
  z-index: 2;
  color: var(--secondary);
  background: var(--secondary);
}

.presentation-section .subtitle {
  color: white;
  z-index: 2;
  position: absolute;
  font-size: 3rem;
  font-weight: lighter;
  left: 50%;
  top: 80%;

  transform: translate(-50%, -75%);
}
>>>>>>> 33e23e6fec986364e78a1762dda785d5ad147cd8
