.service-presentation-section{
    width: 70%;
}

.service-presentation-section h1{
    font-weight: bold;
}

/* Categories cards  */
.service-presentation-section .categories-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: var(--sections-m);
    gap: var(--sections-m);
    align-items: flex-start
}

@media (max-width: 900px){
    .service-presentation-section{
        width: 100%;
        padding-top: 10rem;
    }
}