.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: var(--sections-m);
}

.hero .description {
  width: 50%;
  text-align: right;
}

.hero .description button {
  background: var(--main);
  color: var(--light);
  padding: 20px;
  margin: var(--sections-m);
  margin-right: 0;
}

@media only screen and (max-width: 900px) {
  .hero {
    flex-direction: column;
  }

  .hero .description {
    display: flex;
    flex-direction: column;
    width: 95%;
  }


}
