.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: var(--sections-m);
}

.hero .description {
  width: 50%;
  text-align: center;
}

.hero .description h1{
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
}

.hero .description button {
  background: var(--main);
  color: var(--light);
  padding: 20px;
  margin: var(--sections-m);
  margin-right: 0;
}


@media only screen and (max-width: 900px) {
  .hero {
    flex-direction: column;
  }

  .hero .description h1{
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
  }

  .hero img{
    display: none;
  }

  .hero .description {
    display: flex;
    flex-direction: column;
    width: 95%;
  }


}
