/* Header  */
header {
  background: var(--main);
  z-index: 900;

}

nav {
  display: flex;
  justify-content: space-between;
  color: white;
  z-index: 2;
  position: relative;
  padding: 4rem 8rem;
  z-index: 900;
}

nav a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 4rem;
}

/* Titles */
a h1 {
  font-weight: lighter;
  font-size: 2em;
}
