header {
  background: var(--main);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  /* position: fixed;
  width: 100%;  */
}

header .logo {
  margin-left: var(--sections-m);
}

header .logo img {
  max-width: 70px;
}

nav {
  margin-right: var(--sections-m);
}
nav ul {
  display: flex;
}

nav ul li {
  margin-left: 2em;
}

.whatsapp-icon-container {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  position: fixed;
  bottom: 2em;
  right: var(--sections-m);
  z-index: 10;
}

.whatsapp-icon-container svg {
  fill: var(--main);
  stroke: #fff;
  stroke-width: .3px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  z-index: 300;
}

.whatsapp-icon-container:hover svg {
  filter: saturate(1);
  stroke-width: 0.3;
  stroke: var(--light);
  transition: 0.5s;
}

.whatsapp-icon-container:hover .deploy-msg-wpp {
  display: flex;
  transition: 1s;
  animation: wpp-msg 0.5s;
}

.whatsapp-icon-container .deploy-msg-wpp {
  background-color: var(--main);
  stroke: #fff;
  display: none;
  justify-content: center;
  align-items: center;
  height: 65px;
  z-index: 1;
  color: var(--light);
  padding: 10px;
  border-radius: 15px 0 0 15px;
  margin-right: -0.8em;
  outline: 0.3px solid var(--light);
}

@keyframes wpp-msg {
  0% {
    margin-right: -3em;
    opacity: 0;
  }

  100% {
    margin-right: -0.8em;
    opacity: 1;
  }
}

@media only screen and (max-width: 900px  ) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header .logo {
    margin: 0;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    border-radius: 12px;
    position: fixed;
    bottom: 2em;
    background: var(--main);
    width: 80%;
  }

  nav ul {
    margin: auto;
  }

  nav ul li {
    font-size: 0.5em;
  }

  .whatsapp-icon-container {
    display: none;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    position: fixed;
    bottom: 2em;
    right: var(--sections-m);
    z-index: 10;
  }
}
