header {
  background: var(--light-lowOp);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  align-items: center;
  color: #fff;
  position: fixed;
  width: 100%;    
  animation: headerAppear 1s;
}

@keyframes headerAppear{
  0%{
    transform: translateY(-100px);
  }
  100%{
    transform: translateY(0);
  }
}

header .logo {
  margin-left: var(--sections-m);
}

header .logo img {
  max-width: 70px;
}

nav {
  margin-right: var(--sections-m);
}
nav ul {
  display: flex;
}

nav ul li {
  color: var(--main);
  margin-left: 2em;
}

nav ul li:hover {
  font-weight: bold;
  transition: 0.5s;
}



@media only screen and (max-width: 900px) {
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header .logo {
    margin: 0;
  }

  nav {
    display: none;
  }

  nav ul {
    margin: auto;
  }

  nav ul li {
    font-size: 0.5em;
  }

  .whatsapp-icon-container {
    display: none;
    justify-content: center;
    flex-direction: row-reverse;
    align-items: center;
    position: fixed;
    bottom: 2em;
    right: var(--sections-m);
    z-index: 10;
  }
}
