.contact-presentation-section {
}

.contact-presentation-section h1 {
  font-weight: lighter;
}

.contact-presentation-section .row {
  display: flex;
  justify-content: space-between;
  margin: var(--sections-m);
}

.contact-presentation-section .row .subtitle {
  width: 50%;
  text-align: left;
}

.contact-presentation-section .row form, .contact-presentation-section .row .phone {
  width: 30%;
  justify-content: center;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.contact-presentation-section .row form input {
  padding: 1em;
}

.contact-presentation-section .row form input,
.contact-presentation-section .row form textarea {
  margin: 5px;
  /* box-shadow: var(--shadow-std); */
}

.contact-presentation-section .row form textarea {
  height: 200px; 
  padding: 1em;
}


@media only screen and (max-width: 900px){
  .contact-presentation-section {
    display: none;
    flex-direction: column;
  }

  .contact-presentation-section .row .subtitle {
    width: 100%;
    text-align: center;
  }
  

  .contact-presentation-section .row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: var(--sections-m);
  }

  .contact-presentation-section .row form, .contact-presentation-section .row .phone {
    width: 100%;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: column;
  }


}
