.service-selection-menu{
    display: flex;
    flex-direction: column;
    width: 20%;
    z-index: 0;
    background: var(--light);
    color: var(--main);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
 
}

.service-menu-item{
    padding: 2em;
    text-align: justify;
}

.service-menu-item.active{
    background: var(--main);
    color: var(--light);
}
    
.service-menu-item:hover{
    background: var(--main);
    color: var(--light);
}


@media only screen and (max-width: 900px){
    .service-selection-menu{
        display: none;
    }
}